<%= form_for(@dartsshoptest) do |f| %>
  <% if @dartsshoptest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dartsshoptest.errors.count, "error") %> prohibited this dartsshoptest from being saved:</h2>

      <ul>
      <% @dartsshoptest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
