<h1>Listing dartsshoptests</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dartsshoptests.each do |dartsshoptest| %>
  <tr>
    <td><%= link_to 'Show', dartsshoptest %></td>
    <td><%= link_to 'Edit', edit_dartsshoptest_path(dartsshoptest) %></td>
    <td><%= link_to 'Destroy', dartsshoptest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dartsshoptest', new_dartsshoptest_path %>
