    <body>
        <%= gmaps("markers" => {:data => @json,
        	:options => {:do_clustering => true, :center_on_user => true}},
        "map_options" => {:provider => "google"}) %>
        <h3>ダーツショップ数</h3>
        <%= @dartsshop.count %>

    </body>
